html, body {
    margin: 0;
    padding: 0;
  }

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

.navbar {
    background-color:gray;
    padding: 14px 0;
  }

.navbar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.navbar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

.navbar-ul li {
    list-style-type: none;
    text-align: center;
    color: white;
}