/*lisa*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Roboto";
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

.navbar {
    background-color:#011638;
    padding: 14px 0;
  }

.navbar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.navbar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

.navbar-ul li {
    list-style-type: none;
    text-align: center;
    color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0px 50px 0px;
}

#who {
    background-color: #F2F2F2;
}

#who h1 {
    margin: 0;
    padding: 80px 0px 40px 0px;
    color: #011638;
}

h3 {
    color: #011638;
    font-size: 2em;
}

#who p {
    color: #011638;
    font-size: 1.7em;
}

#who div {
  display: flex;
  justify-content: space-evenly;
}

#who .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
} 

.container img {
  border-radius: 50%;
  width: 200px;
}

#experience div {
  display: flex;
  justify-content: space-evenly;
}

#experience .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

#experience li {
    font-size: 1.5em;
    list-style-type: none;
    text-align: center;
    color: #011638;
}

#experience ul {
    padding: 0px;
}

#goals {
    background-color: #F2F2F2;
    padding: 45px 0px 45px;
}


/* vincent */

table {
  border-collapse: collapse;
  margin: 100px auto;
}

#goals{
  background-image: url('https://www.tributemedia.com/hs-fs/hubfs/primary%20objective%20target.jpg?width=1860&name=primary%20objective%20target.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 50px;
  position: relative;
}

th, td {
  border : 2px solid #011638;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.8em;
}

thead {
  background:#011638
}

thead th {
  color: whitesmoke;
}

tbody tr:nth-child(even){
  background:rgba(205,205,205,0.5)
}

tbody tr:nth-child(odd){
  background:rgba(255,255,255,0.5)
}

.footer {
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(25, 33, 41);
}

.contact {
  color:white;
  font-size: 0.8em;
  font-style: normal;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}


